body{
  background: #1d1d1d;
  color: #fafafa;
}

.app-container {
  display: flex;
}

.correct {
  background-color: #8fdd8f;
}

.incorrect {
  background-color: #f28c8c;
}

.correct-text {
  color: green;
}

.incorrect-text {
  color: red;
}